
.height {
  height: 100vh;
   /* Set height to 100% of viewport height by default */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .auto-height {
      height: auto;/* Set height to auto for smaller screens */
  }
}
@media (max-width: 1200px) {
  .height {
      height: 70vh;
      
       /* Set height to auto for smaller screens */
  }
  
}
