/* Home Button Styles */
.navbar-logo {
    height: 80px;
    width: auto;
}

.btn-primary {
    background-color: #000000;
    font-size: 20px;
    position: relative;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

.btn-primary::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, #aaff00 0%, #00ffaa 100%);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: -1;
}

.btn-primary:hover::before {
    transform: translateX(0);
}

.btn-primary:hover {
    color: #000000;
    z-index: 1;
}

/* Navigation Menu Styles */
.bg-green-yellow {
    background-color: #aaff00;
    background-image: linear-gradient(120deg, #aaff00 0%, #00ffaa 100%);
}

.text-black {
    color: white;
}

.menu-item {
    margin-right: 15px;
    font-size: 15px;
    font-family: 'Helvetica Neue', sans-serif;
    position: relative;
    text-decoration: none;
}

/* Initially set the ::after pseudo-element to not display */
.menu-item::after {
    display: none;
}

.navbar-nav .nav-link {
    color: #ffffff;
}

.navbar {
    background-color: #000000 !important;
}
.navbar-nav .nav-link.active {
    color: white;
}

@media (max-width: 768px) {
    .navbar-logo {
        margin-left: 10px;
    }

    .menu-item {
        margin-right: 0;
    }

    .btn-primary {
        margin-right: 10px;
    }
}

/* Enable hover line for desktop screens */
@media (min-width: 1200px) {
    .menu-item::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: transparent;
        transition: width 0.1s ease;
        display: block; /* Enable display for desktop screens */
    }

    .menu-item:hover::after {
        width: 100%;
        background-image: linear-gradient(120deg, #aaff00 0%, #00ffaa 100%);
    }
}
