.blog-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    margin-top: 0;
    position: relative; /* Make it relative to position the arrows */
    margin-bottom: 60px;
}

.heading-container {
    background-size: cover;
    background-position: center;
    padding: 50px; /* Adjust padding for smaller screens */
    width: 100%;
    height: 70vh;
    position: relative; /* Position relative to place the text */
    margin-bottom: 40px; /* Sets bottom margin */
}

.heading-container h1 {
    color: #ffffff;
    font-size: 24px;
    margin: 0;
    padding: 20px; /* Adjust padding for smaller screens */
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute; /* Position absolute to place at the bottom */
    bottom: 0;
    left: 0;
    right: 0;
}

.blockpage2.arrow {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid black; /* Sets arrow color and size */
   
  }
.slider-arrows button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 18px;
    margin: 0 5px;
}

.slider-arrows button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
