/* Original styles for large screens */
.value-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 50px;
  }
  
  .value-wrapper {
    display: flex;
    justify-content: space-between;
    width: 1100px; /* adjust width as needed */
  }
  
  .value-heading {
    flex: 1;
  }
  
  .value-paragraph {
    flex: 1;
    margin-left: 20px; /* adjust margin as needed */
  }
  
 
  
  /* Media query for small screens */
  @media screen and (max-width: 768px) {
    .value-wrapper {
      flex-direction: column;
      align-items: center;
      width: auto;
    }
  
    .value-heading,
    .value-paragraph {
      width: 100%;
      margin-left: 0; /* Reset margin for small screens */
    }
  }
  